.contenedor {
  background: #242424;
  background: -webkit-linear-gradient(to right, #11003f, #272727);
  background: linear-gradient(to right, #11003f, #272727);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 80%;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 3px 3px 10px rgb(255 255 255 / 5%),
    2px 2px 8px rgba(0 0 0 / 50%);
  color: white;
  overflow-x: hidden;
}

.accion {
  position: absolute;
  top: 1em;
  right: 1em;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #dd1818;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


img{
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ee0000;
  text-transform: uppercase;
  font-weight: 500;
}

a:hover {
  opacity: 0.8;
}

a:active {
  background-color: rgb(240, 81, 81);
  border-radius: 4px;
}

a:focus {
  background-color: #e63b3b;
}

.titulo {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 2cm;
}

.paragrafo {
  line-height: 1.8em;
  font-weight: 300;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table td,.table th {
  padding: 5px;
  text-align: left;
}

.title-item {
  border-bottom: solid 2px #c6426e;
  padding-bottom: 1em;
  border-radius: 4px;
  font-size: 2em;
}

.main-imagen {
  float: left;
  margin-right: 1em;
  height: 350px;
}

.posicion {
  background-color: #c6426e;
  color: white;
  padding: 0.7em;
  border-radius: 10px;
  margin-right: 0.5em;
}

.contenido::-webkit-scrollbar{
  width: 0.5em;
}
.contenido::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 3px 3px 10px rgb(255 255 255 / 5%),
    2px 2px 8px rgba(0 0 0 / 50%);
}

@media (min-height:550px){
  .contenido{
    height: 500px;
  }
}

@media(min-width:900px){
  td{
    display: table-cell;
    width: auto;
  }
  th{
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1em;
  }
  .contenido{
    padding: 1.8em;
  }
}

@media(max-width:345px){
  .posicion{
    display: none;
  }
}

@media(max-width:600px){
  .contenido{
    padding: 1em;
    overflow-y: scroll;
  }
  .titulo{
    padding-top: 0.5cm;
    padding-bottom: 1cm;
  }
  td{
    display: block;
    width: 100%;
  }
  th{
    display: none;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-top: 2em;
  }

  td:nth-of-type(4){
    display: none;
  }

}










